.contenedor{
    height: 100vh;
}
.imagen__copa{
    background-image: url("../images/copa.jpg");
    background-position: top;
    background-size: cover;
    height: 100vh;
}
.contenedor__formulario{
    width: 90%;
    height: 100%;
}
.campo__salida{
    height: 150px;
}